* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: rgb(239, 234, 234);
}

#container {
    padding: 1%;
}

header {
    background: linear-gradient(rgb(10, 57, 10), rgb(17, 119, 140));
    color: white;
}

h1 {
    font-size: 160% !important;
    padding: 2%;
    text-align: center;
    text-transform: uppercase;
}

h3 {
    text-align: center;
    text-transform: capitalize;
    font-size: 190%;
}

section {
    display: flex;
    margin-top: 3em;
    justify-content: space-between;
    flex-wrap: wrap;
    /* height: 28vw; */
}

.first {
    width: 32%;
    background-color: #ffffff;
    border-radius: 12px;
    padding: 1%;
    margin: 2px;
    box-shadow: 2px 3px 23px 12px lightgray;
}
.first:nth-child(even){
    border: 1px solid rgb(181, 181, 216);
    background-color: rgb(222, 222, 241);
    height: 35%;
}

.first:hover {
    cursor: pointer;
    transition:  0.05s ease-in-out;
    box-shadow: 2px 13px -23px -32px rgb(222, 184, 184);
    background: linear-gradient(rgb(218, 163, 163) , rgb(189, 119, 106));
    color: white;
}

.first>p {
    padding: 1rem;
}

img {
    width: 100%;
    border-radius: 12px;
}
img:hover{
    width: 101%;
}
footer{
    width: 99%;
    margin: auto;
    margin-top: 4%;
    height: 20%;
    background: linear-gradient(rgb(10, 57, 10), rgb(17, 119, 140));
}
footer >p{
    padding: 1.2%;
    text-align: center;
    color: white;
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}