body {
    width: 80vw;
    border: 1px solid rgb(184, 179, 179);
    padding: 1%;
    margin: auto;
    height: 100%;
    margin-top: 1%;
}


h1{
    margin-top: 0;
    background-color: rgb(4, 79, 109);
    color: white;
    margin-bottom: 0;
    padding: 1%;
    text-align: center;
}
#data-list {

    background-color: rgb(126, 145, 49);
    background: linear-gradient(180deg, rgb(236, 146, 130) , rgb(142, 23, 23));
    margin-top: 0;
    padding: 1%;
    color: white;
    font-size: 130%;
}
h3{
    text-transform: uppercase;
}
#table-data{
    margin-top: 3%;
}

table{
    border-collapse: collapse;
    width: 100%;
    padding: 2%;
}
th{
    border: 1px solid black;
    padding: 1%;
    background-color: rgb(4, 79, 109);
    color: white;
    height: 20px;
}
table , td{
    border: 1px solid gray;
    height: 50px;
    text-align: center;
}
footer{
    background: radial-gradient( purple, rgb(165, 60, 78));
    padding: 5px;
    margin-top: 3%;
    text-align: center;
    color: white;
}